<h1>Detalles<h1>
<%=image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil?%>
<h2><%= @portfolio_item.title%></h2>
<h2><%= @portfolio_item.subtitle%></h2>
<h2><%= @portfolio_item.body%></h2>
