    <h2> Hi </h2>
    <hr>
    <div class="row">
    <div class= "col-md-4">
        <%= image_tag "profile.jpg",
        width: 300, alt: "Profile image"%>
    </div>
    <div class= "col-md-8">
        <p>My name is Funes Nicolás, I am a professional from Buenos Aires Argentina.
            I am an electronics engineer from the Buenos Aires university and currently I am doing a specialization career on IOT at the same university.
            I have been working in the software industry for 3 years, focused on backend.</p>
    </div>
</div>
